# Never commit your filled-in .env file.
DISCORD_TOKEN=
DISCORD_APPLICATION_ID=1538615762611216404
DISCORD_GUILD_ID=1364780845688291429
DAILY_CHANNEL_ID=1538619044008296478
SUPABASE_URL=https://qdgdjgdefbaxmjiiywvb.supabase.co
SUPABASE_SECRET_KEY=
TIMEZONE=America/Chicago
DAILY_QUESTION_TIME=06:00
